:root {
  --bg: #0f172a;
  --card: rgba(255,255,255,0.1);
  --text: white;
}

.light {
  --bg: #f1f5f9;
  --card: white;
  --text: black;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.4s;
}

/* NAV */
nav {
  display: flex;
  gap: 10px;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

input, select, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* GRID */
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: var(--card);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  animation: fade 0.5s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
}

.card img {
  width: 80px;
}

button {
  cursor: pointer;
}

/* FAVORITES */
#favorites {
  padding: 10px;
  text-align: center;
}

/* ANIMATION */
@keyframes fade {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}